:root {
    --primary-color: #121212;
    --secondary-color: #400060;
    --main-color: #822BD9;
}

#master-header {
    margin-bottom: 5px;
}

.spinner {
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-top: 5px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#loading {
    background-color: var(--primary-color);
    z-index: 9999;
    height: 100vh; display: flex; justify-content: center; align-items: center;
}

.navbar {
    background-color: #171717 !important;
    border-bottom: 1px solid var(--secondary-color);
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 -3px 12px rgba(130,43,217,0.4);
    z-index: 999;
    backdrop-filter: blur(8px);
}

.nav-item {
    color: #aaa;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.nav-item:hover {
    color: var(--main-color);
}

.nav-icon {
    width: 26px;
    height: 26px;
    margin-bottom: 2px;
}

/* Active tab */
.nav-item.active {
    color: white !important;
    text-shadow: 0 0 8px var(--main-color);
}